<div class="flex-container">
    <div class="filter">
        <mat-form-field>
            <mat-label>Tìm kiếm</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khoá">
        </mat-form-field>
    </div>
    <div class="condition">
    </div>
    <div class="action">
        <button mat-raised-button color="primary" (click)="showDetail('create')">Thêm</button>
    </div>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Ma">
            <th mat-header-cell *matHeaderCellDef> Mã </th>
            <td mat-cell *matCellDef="let element;"> {{element?.Ma}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Ten">
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element;"> {{element?.Ten}} </td>
        </ng-container>

        <ng-container matColumnDef="DiaChi">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ</th>
            <td mat-cell *matCellDef="let element;let row"> {{element?.DiaChi}} </td>
        </ng-container>
        
        <ng-container matColumnDef="SDT">
            <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
            <td mat-cell *matCellDef="let element;"> {{element?.SDT}} </td>
        </ng-container>
        
        <ng-container matColumnDef="GhiChu">
            <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
            <td mat-cell *matCellDef="let element;"> {{element?.GhiChu}} </td>
        </ng-container>

        <ng-container matColumnDef="TenQuanLy">
            <th mat-header-cell *matHeaderCellDef> Tên quản lý</th>
            <td mat-cell *matCellDef="let element;"> {{element?.TenQuanLy}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element;let row">
                <mat-icon (click)="showModalDelete(row)">delete</mat-icon>
                <mat-icon (click)="showDetail('edit',row)">edit</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,15,20,25,30,40,50]" showFirstLastButtons></mat-paginator>
</div>

