<div class="flex-container">
    <div class="filter">
        <mat-form-field>
            <mat-label>Tìm kiếm</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khoá">
        </mat-form-field>
    </div>
    <div class="condition">
    </div>
    <div class="action">
        <button mat-raised-button color="primary" (click)="showUserDetail('create')">Thêm</button>
    </div>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Mã </th>
            <td mat-cell *matCellDef="let element;"> {{element?.Id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Username">
            <th mat-header-cell *matHeaderCellDef> Tên tài khoản </th>
            <td mat-cell *matCellDef="let element;"> {{element?.Username}} </td>
        </ng-container>

        <ng-container matColumnDef="RoleName">
            <th mat-header-cell *matHeaderCellDef> Quyền người dùng </th>
            <td mat-cell *matCellDef="let element;">
                {{element?.RoleName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="EmployeeName">
            <th mat-header-cell *matHeaderCellDef> Nhân viên</th>
            <td mat-cell *matCellDef="let element;">
                {{element?.EmployeeName || 'N/A'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element;let row">
                <!-- <mat-icon (click)="showModalDelete(row)">delete</mat-icon> -->
                <mat-icon (click)="showUserDetail('edit',row)">edit</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,15,20,30,40,50]" showFirstLastButtons></mat-paginator>
</div>