<div class="flex-container">
    <div class="filter">
        <mat-form-field>
            <mat-label>Tìm kiếm</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khoá">
        </mat-form-field>
    </div>
    <div class="condition">
        <mat-form-field [hideRequiredMarker]="false" [floatLabel]="'auto'">
            <mat-select placeholder="Nhóm vật tư" [(ngModel)]="filterParams.NhomVatTu">
                <mat-option >Nhóm vật tư</mat-option>
                <mat-option *ngFor="let group of listGroupProduct" [value]="group?.Id" >{{group?.Ten}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="false" [floatLabel]="'auto'">
            <mat-select placeholder="Nhà cung cấp" [(ngModel)]="filterParams.NhaCungCap">
                <mat-option >Nhà cung cấp</mat-option>
                <mat-option *ngFor="let provider of listProvider" [value]="provider?.Id">{{provider?.Ten}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="action">
        <button mat-raised-button color="primary" (click)="showProductDetail('create')">Thêm</button>
    </div>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container> -->
        <!-- Position Column -->
        <ng-container matColumnDef="Ma">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
            <td mat-cell *matCellDef="let element;"> {{element?.Ma}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Ten">
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element;"> {{element?.Ten}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="DonGia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn giá </th>
            <td mat-cell *matCellDef="let element;let row"> {{element?.DonGia}} VNĐ </td>
        </ng-container>

        <ng-container matColumnDef="DonGiaNhap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn giá nhập</th>
            <td mat-cell *matCellDef="let element;let row"> {{element?.DonGiaNhap}} VNĐ </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="TenNhomVatTu">
            <th mat-header-cell *matHeaderCellDef> Nhóm vật tư </th>
            <td mat-cell *matCellDef="let element;"> {{element?.TenNhomVatTu}} </td>
        </ng-container>

        <ng-container matColumnDef="TenNhaCungCap">
            <th mat-header-cell *matHeaderCellDef> Nhà cung cấp </th>
            <td mat-cell *matCellDef="let element;"> {{element?.TenNhaCungCap}} </td>
        </ng-container>


        <ng-container matColumnDef="SoLuong">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </th>
            <td mat-cell *matCellDef="let element;"> {{element?.SoLuong}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element;let row">
                <mat-icon (click)="showModalDelete(row)">delete</mat-icon>
                <mat-icon (click)="showProductDetail('edit',row)">edit</mat-icon>
            </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20,30,40]" showFirstLastButtons></mat-paginator>
</div>
