.flex-container {
    display: flex;
    justify-content: flex-end;
    /* background-color: DodgerBlue; */
  }

  mat-icon{
      cursor: pointer;
  }

  mat-radio-button{
      padding-left: 12px;
  }