<div class="flex-container">
    <mat-icon mat-dialog-close>close</mat-icon>
</div>
<h2 mat-dialog-title>Nhóm vật liệu</h2>
<mat-dialog-content>
    <form class="form-container" [formGroup]="groupProductForm">
        <div class="mff-2">
            <label>Mã nhóm: </label>
            <span class="error-text" *ngIf="groupProductForm.controls.Ma.touched && !groupProductForm.controls.Ma.valid">
                Mã nhóm là bắt buộc
              </span>
            <mat-form-field class="" appearance="fill" [hideRequiredMarker]="false" [floatLabel]="'auto'">
                <input matInput placeholder="Mã nhóm" formControlName="Ma">
            </mat-form-field>
        </div>
        <div class="mff-2">
            <label>Tên nhóm: </label>
            <span class="error-text" *ngIf="groupProductForm.controls.Ten.touched && !groupProductForm.controls.Ten.valid">
                Tên nhóm là bắt buộc
              </span>
            <mat-form-field class="" appearance="fill" [hideRequiredMarker]="false" [floatLabel]="'auto'">
                <input matInput placeholder="Tên nhóm" formControlName="Ten">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<div class="flex-container">
    <button mat-raised-button color="primary" *ngIf="dialogData.type === 'create'" [disabled]='loading' (click)="create()">
        <app-loading-inside-btn *ngIf="loading"></app-loading-inside-btn>
        {{loading?'':'Thêm'}}
    </button>
    <button mat-raised-button color="primary" *ngIf="dialogData.type === 'edit'" [disabled]='loading' (click)="update()"> 
        <app-loading-inside-btn *ngIf="loading"></app-loading-inside-btn>
        {{loading?'':'Sửa'}}
    </button>
    <button mat-raised-button color="warn" (click)="resetData()">Huỷ</button>
</div>